* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
}

.create-playlist {
    display: flex;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
}

.musicalTitle {
    text-align: center;
}

.musical-form-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.playlist {
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
}

.playlist-input {
    display: flex;
    gap: 10px;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center
}